target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/Lambdas/LambdaFunctionExamples/nbproject/private/
/Lambdas/RoboCallExample/nbproject/private/
/Communs/PersonneLib/nbproject/
/ConcurenceJava/001/Process/ProcessExec/nbproject/private/
/ConcurenceJava/001/Process/ProcessExec/build/
/ConcurenceJava/001/Process/ProcessExecWin/nbproject/private/
/ConcurenceJava/001/Process/ProcessExecWin/build/
/ConcurenceJava/IntroThread/bouclePourtestJconsole/nbproject/private/
/ConcurenceJava/IntroThread/bouclePourtestJconsole/build/
/ConcurenceJava/IntroThread/bouclePourtestJconsole/dist/
/ConcurenceJava/Partage/codeCommunDonneeDiff/nbproject/private/
/ConcurenceJava/Partage/codeCommunDonneeDiff/build/
/ConcurenceJava/Partage/codeCommunDonneeDiff/dist/
/ConcurenceJava/Partage/CDDC/nbproject/private/
/ConcurenceJava/Partage/CDDC/build/
/ConcurenceJava/Partage/CDDC/dist/
/ConcurenceJava/Ordonnancement/Demon/nbproject/private/
/ConcurenceJava/Ordonnancement/Demon/build/
/ConcurenceJava/ClientServeurMultiT/ServerTCP/nbproject/private/
/ConcurenceJava/ClientServeurMultiT/ServerTCP/build/
/ConcurenceJava/ClientServeurMultiT/ClientTCP/nbproject/private/
/ConcurenceJava/ClientServeurMultiT/ClientTCP/build/
/ConcurenceJava/Partage/CDDCAvecSynchro/nbproject/private/
/ConcurenceJava/Partage/CDDCAvecSynchro/build/
/ConcurenceJava/Partage/CDDCAvecSynchroClass/nbproject/private/
/ConcurenceJava/Partage/CDDCAvecSynchroClass/build/